.header{
    text-align: -moz-center;
    font-family: 'Cinzel Decorative';
}

h1{
    word-spacing: 16px;
    width: max-content;
    font-size: 46px;
    background: linear-gradient(to right,#8e0e00, #1f1c18 );
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.games-nav-bar{
    width: 100%;
    display: inline-flex;
    height: 65px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

.game{
    text-align: center;
    width: 20%;
    font-size: 24px;
    font-family: 'Cinzel Decorative';
    background-color: white;
    margin-right: 15px;
    border-radius: 25px;
    text-decoration: none;
    padding-top: 16px;
}

.game:hover{
    color: white;
}

.games-logos{
    width: 100%;
    display: inline-flex;
    height: 300px;
    /* border: 1px solid black; */
}

.game-logo{
    width: 20%;
    margin-right: 15px;
}

.game-2048{
    color: #e0af0b;
}

.game-2048:hover{
    background-color: #e0af0b;
}

.tetris{
    color: #458bdb;
}

.tetris:hover{
    background-color: #458bdb;
}

.flappy-bird{
    color: #017e1e;
}

.flappy-bird:hover{
    background-color: #017e1e;
}

.guess-the-color{
    color: #a03d08;
}

.guess-the-color:hover{
    background-color: #a03d08;
}

.classic-snake-game{
    color: #218138;
}

.classic-snake-game:hover{
    background-color: #218138;
}

