.header{
    text-align: -moz-center;
    font-family: 'Cinzel Decorative';
}

h1{
    word-spacing: 16px;
    width: max-content;
    font-size: 46px;
    background: linear-gradient(to right,#8e0e00, #1f1c18 );
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 30px;
    padding: 12px 0px 20px 15px;
    background-color: whitesmoke;
    border-radius: 20px;
}

li{
    float: left;
    padding-left: 30px;
    margin-right: 35px;
}

li:nth-last-child(2), li:last-child{
    float: right;
}

li a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #0275d8;
}

.active, a:hover {
    color: #d9534f ;
}

a:hover{
    color: #292b2c;
}
