<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/classic-snake.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
</head>

<body onload="checkLoginStatus()">
    <div class = "head">
        <h2><span id="moveLeft">ARCADES</span> <span id="moveRight">ASSEMBLE</span></h2>
    </div>
    <ul>
        <li><a href="/games/flappy-bird/" class="flappy-bird">Flappy Bird</a></li>
        <li><a href="/games/game-2048/" class="game-2048">2048</a></li>
        <li><a href="#" class="active classic-snake-game">Classic Snake</a></li>
        <li><a href="/games/tetris/" class="tetris">Tetris</a></li>
        <li><a href="/games/guess-the-color/" class="guess-the-color">Guess the Color!</a></li>
        <li onclick="logout()"><a href="/login" id="login-btn">Logout</a></li>
        <li><a href="/games">Return</a></li>
    </ul>
    <div class="snake-game">
        <div class="info">
            <div class="scores">
                <div class="score">
                    Score
                    <span class="score-number">0</span>
                </div>
                <div class="score">
                    High Score
                    <span class="high-score-number">0</span>
                </div>
            </div>
            <div class="controls">
            <button class="btn-start">
                <span class="material-icons icon-play_arrow">play_arrow</span>
            </button>
            <button class="btn-pause" disabled>
                <span class="material-icons icon-pause">pause</span>
            </button>
            <button class="btn-newGame material-icons icon-replay">replay</button>
            <button class="btn-bgm">
                <span class="material-icons icon-music_note">music_note</span>
                <span class="material-icons icon-music_off hidden">music_off</span>
            </button>
            <button class="btn-audio">
                <span class="material-icons icon-audio-on">volume_up</span>
                <span class="material-icons icon-audio-off hidden">volume_off</span>
            </button>
            </div>
        </div>

        <div class="game-board">
            <div class="board"></div>
            <div id="game-over">
            Game over!
            <p class="restart-msg">Press R to restart</p>
            </div>
        </div>

        <div>
            <audio id="player" autoplay loop hidden>
            <source src="/resources/classic-snake/sounds/amazing-plan-by-kevin-macleod-from-filmmusic-io.mp3" type="audio/mpeg" />
            audio isn't supported.
            </audio>
        </div>

        <div class="hard">
            <span class="hard-span">Inverted hard mode:</span>
            <div class="slider-box">
            <input type="checkbox" id="switch__checkbox" />
            <label class="switch" for="switch__checkbox">
                <span class="slider"></span>
            </label>
            </div>
            <p class="desc">Controls are now inverted!</p>
        </div>
    </div>

    <div class="leaderboard_pop"><div class="img_wrap"><div class="hide">Leaderboard!</div><img src="/resources/leaderboard/images/trophy.png" width=100% height=100% align="center" ></div></div>
    <!-- /////Leaderboard pop-up///// -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p align="center" font-weight="bold">Leaderboard text</p>
    </div>

    </div>
    <script src="/scripts/classic-snake/classic-snake.js"></script>
</body>

</html>
