<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the color!</title>
    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="/css/colorGame.css">
	<link rel="stylesheet" href="/css/global.css">
	<script src="/scripts/global/global.js"></script>
</head>
<body onload="checkLoginStatus()">
	<div class = "head">
		<h2><span id="moveLeft">ARCADES</span> <span id="moveRight">ASSEMBLE</span></h2>
		<ul>
			<li><a href="/games/flappy-bird/" class="flappy-bird">Flappy Bird</a></li>
			<li><a href="/games/game-2048/" class="game-2048">2048</a></li>
			<li><a href="/games/classic-snake/" class="classic-snake-game">Classic Snake</a></li>
			<li><a href="/games/tetris/" class="tetris">Tetris</a></li>
			<li><a href="#" class="active guess-the-color">Guess the Color!</a></li>
			<li onclick="logout()"><a href="#" id="login-btn">Logout</a></li>
			<li><a href="/games">Return</a></li>
		</ul>
	</div>

	<h1 class="game-heading">
		<!-- Guess The
		<br> -->
		<span id="colorDisplay">RGB</span>
		<!-- <br>
		Color! -->
	</h1>

	<div id="stripe">
		<button id="reset">New Colors</button>
		<span id="message"></span>
		<button class="mode">Easy</button>
		<button class="mode selected">Hard</button>
	</div>

	<div id="container">
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
	</div>

	<div class="leaderboard_pop">
        <div class="img_wrap">
            <div class="hide">Leaderboard!</div>
            <img id="open" onclick="getScores()" src="/resources/leaderboard/images/trophy.png" width=100% height=100% align="center" >
        </div>
    </div>
    <div id="modal_container" class="modal-container">
	<div class="modal">
		<button id="close" class="close">&times;</button>
		<h1 id="arcade">Arcade Assemble</h1>
		<div class="leaderboard">
			<div class="leaderboard-head">
				<span id="forimage"></span>
				<h3>Leaderboard</h3>
			</div>
			<div class="members-with-score">
				<!-- Result html will be added here -->
			</div>
		</div>
	</div>
	</div>

	<script type="text/javascript" src="/scripts/colorGame/colorGame.js"></script>

</body>
</html>