<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flappy Bird</title>

    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Teko:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/flappy-bird.css">

</head>
<body>
    <div class="header">
        <div class = "head">
            <h2><span id="moveLeft">ARCADES</span> <span id="moveRight">ASSEMBLE</span></h2>
        </div>
        <ul>
            <li><a href="#" class="active flappy-bird">Flappy Bird</a></li>
            <li><a href="/games/game-2048/" class="game-2048">2048</a></li>
            <li><a href="/games/classic-snake/" class="classic-snake-game">Classic Snake</a></li>
            <li><a href="/games/tetris/" class="tetris">Tetris</a></li>
            <li><a href="/games/guess-the-color/" class="guess-the-color">Guess the Color!</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="/games">Return</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="game-title">
            <h1>FLAPPY BIRD</h1>
        </div>
         <div class="game-screen">
            <canvas id="canvas" width="320" height="480"></canvas>
        </div>
    </div>
    <script src="/scripts/flappy-bird/game.js"></script>


</body>
</html>
