<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="/css/gamerProfile.css">
    </head>
    <body>
        <h1>Arcades Assemble</h1>
        <div class="exit"><a href="/games">&times;</a></div>
        <div class="container">
            <div class="avatar"><img src="/resources/gamerProfile/images/sisu.png" width="80%" height="90%"></div>
            <div class="info">
                <p>Sisu</p>
                <span>Name: Sisu The Dragon</span>
                <br>
                <span>Email: sisu@thelastdragon.com</span>  
            </div>
        </div>
        <div class="scores">
            <div class="square">
                <img src="/resources/homepage/flappybird.png" class="image">   
                <div class="text"><p>Flappy Bird<br> High Score</p></div>
            </div>
            <div class="square">
                <img src="/resources/homepage/2048.png" class="image"> 
                <div class="text"><p>2048<br> High Score</p></div> 
            </div>
            <div class="square">
                <img src="/resources/homepage/snake.png" class="image">  
                <div class="text"><p>Snake<br> High Score</p></div>   
            </div>
            <div class="square">
                <img src="/resources/homepage/tetris.jpg" class="image">  
                <div class="text"><p>Tetris<br> High Score</p></div> 
            </div>
            <div class="square">
                <img src="/resources/homepage/guess-the-color.jpg" class="image">  
                <div class="text"><p>Guess the Color!<br>High Score</p></div>   
            </div>       
        </div>
    </body>
</html>