<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Profile</title>
        <link rel="stylesheet" type="text/css" href="/css/gamerProfile.css">
        <script src="/scripts/global/global.js"></script>
    </head>
    <body onload="show()">
        <h1>Arcades Assemble</h1>
        <div class="dropdown">
            <div class="dropbtn">
                <div class="avatar-top"><img src="" class="profileImageShort" width="50px" height="50px"></div>
                <div class="dropdown-content">
                    <a href="/editProfile">Edit Profile</a>
                    <a href="/games">Exit</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="avatar"><img src = "" class="profileImage" width="80%" height="90%"></div>
            <div class="info">
                <p id="ign">IGN</p>
                <span id="name">Name</span>
                <br>
                <span id="email">Email</span>  

            </div>
        </div>
        <div class="scores">
            <div class="square">
                <img src="/resources/homepage/flappybird.png" class="image">   
                <div class="text"><p>Flappy Bird<br> High Score <br><span id="flappybird"></span></p></div>
            </div>
            <div class="square">
                <img src="/resources/homepage/2048.png" class="image"> 
                <div class="text"><p>2048<br> High Score <br><span id="game2048"></span></p></div> 
            </div>
            <div class="square">
                <img src="/resources/homepage/snake.png" class="image">  
                <div class="text"><p>Snake<br> High Score <br><span id="snakegame"></span></p></div>   
            </div>
            <div class="square">
                <img src="/resources/homepage/tetris.jpg" class="image">  
                <div class="text"><p>Tetris<br> High Score <br><span id="tetris"></span></p></div> 
            </div>
            <div class="square">
                <img src="/resources/homepage/guess-the-color.jpg" class="image">  
                <div class="text"><p>Guess the Color!<br>High Score <br><span id="guessthecolor"></span></p></div>   
            </div>       
        </div>
        <script src="/scripts/gamerProfile/gamerProfile.js"></script>
    </body>
</html>