<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Cinzel Decorative">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/homepage.js"></script>
</head>

<body>
    <div class = "head">
		<h2><span id="moveLeft">ARCADES</span> <span id="moveRight">ASSEMBLE</span></h2>
	</div>
    <div class="nav-bar">
        <ul>
            <li><a href="#">Account</a></li>
            <li><a href="#">Sign Out <i class="fa fa-sign-out" style="font-size:24px"></i></a></li>
        </ul>
    </div>

    <div class="games-nav-bar">
        <a class="game flappy-bird" href="/games/flappy-bird/">Flappy Bird</a>
        <a class="game game-2048" href="/games/game-2048/">2048</a>
        <a class="game classic-snake-game" href="/games/classic-snake/">Classic Snake</a>
        <a class="game tetris" href="/games/tetris/">Tetris</a>
        <a class="game guess-the-color" href="/games/guess-the-color/">Guess the Color!</a>
    </div>
    <div class="games-logos">
        <img class="game-logo flappy-bird-logo" src="/resources/homepage/flappybird.png">
        <img class="game-logo game-2048-logo" src="/resources/homepage/2048.png">
        <img class="game-logo classic-snake-game-logo" src="/resources/homepage/snake.png">
        <img class="game-logo tetris-logo" src="/resources/homepage/tetris.png">
        <img class="game-logo guess-the-color-logo" src="/resources/homepage/guess-the-color.jpg">
    </div>
</body>
</html>