.head{
    background-color: white !important;
    text-align: -moz-center;
    font-family: 'Cinzel Decorative';
    text-align: center;
}
h2{
    font-size: 46px;
    font-weight: bold;
    word-spacing: 16px;
    background: linear-gradient(to right,#bd3121, #1f1c18 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-nav-bar{
    width: 100%;
    display: inline-flex;
    height: 65px;
    margin-top: 60px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.game{
    text-align: center;
    width: 20%;
    font-size: 25px;
    background-color: white;
    /* margin-right: 15px; */
    border-radius: 25px;
    text-decoration: none;
    padding-top: 16px;
}

.game:hover{
    color: white;
}

.container{
  width: 100%;
  padding-bottom: 3%;
  height: 30%;
  position: fixed;
  right: 0;
  left: auto;
  text-align: center;
  display: flex;
  justify-self:auto;
  justify-content: center;
}
.scores:hover .square:not(:hover)
{
  filter:sepia(75%);
}
.square:hover{
  
    /* ////// */
  border-radius: 15%;
  /* border-top-right-radius: 15%;
  border-top-left-radius: 15%; */
  animation-name: example;
  animation-duration: 0.25s;
  border-bottom: 8px solid rgb(47, 166, 187);
  border-right: 9px solid rgb(47, 166, 187);
  box-shadow: 0 14px 28px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.45);
}
.square
.img{
  object-fit: cover;
  /* margin-bottom: 20px; */
}
.image {
  /* display: block; */
  width: 100%;
  height: 100%;
  /* height: inherit; */
  object-fit: contain;
  border-radius: 15%;
  border-style: solid;
  border-width: 5px;
  border-color: ivory;
  object-fit: fill;
}
.text{
    vertical-align: middle;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
    text-align:center;
    margin: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.5em;
    font-family: Verdana;
  }

.square{
  position: relative;
    float: left;
    width: 20%;
    margin: 0 auto;
    height:100%;
    border-radius: 15%;
    display: flex;
    justify-self: auto;
    align-content: center;
    justify-content: center;
}

.games-logos{
    width: 100%;
    display: inline-flex;
    height: 300px;
}

.game-logo{
    width: 20%;
    margin-right: 5px;
}

.game-2048{
    color: #e0af0b;
}

.game-2048:hover{
    background-color: #e0af0b;
}

.tetris{
    color: #458bdb;
}

.tetris:hover{
    background-color: #458bdb;
}

.flappy-bird{
    color: #017e1e;
}

.flappy-bird:hover{
    background-color: #017e1e;
}

.guess-the-color{
    color: #a03d08;
}

.guess-the-color:hover{
    background-color: #a03d08;
}

.classic-snake-game{
    color: #025315;
}

.classic-snake-game:hover{
    background-color: #025315;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 30px;
    padding: 12px 0px 20px 15px;
    background-color: whitesmoke;
    border-radius: 20px;
}

li:first-child, li:nth-child(2){
    float: left;
    margin-left: 80px;
    margin-right: 90px;
}

li:last-child{
    float: right;
    margin-right: 85px;
}

li a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #0275d8;
}

.active{
    color: #d9534f ;
}

a:hover{
    color: #292b2c;
}
h3 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    /* background-color: #333; */
    letter-spacing: .1em;
    text-shadow: 0 8px 8px rgba(78, 22, 16, 0.9);
    -webkit-animation: track-in 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: track-in 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes track-in {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes track-in {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
