.head{
    background-color: white !important;
    text-align: -moz-center;
    font-family: 'Cinzel Decorative';
    text-align: center;
}
h2{
    font-size: 46px;
    font-weight: bold;
    word-spacing: 16px;
    background: linear-gradient(to right,#bd3121, #1f1c18 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-nav-bar{
    width: 100%;
    display: inline-flex;
    height: 65px;
    margin-top: 60px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.game{
    text-align: center;
    width: 20%;
    font-size: 25px;
    background-color: white;
    /* margin-right: 15px; */
    border-radius: 25px;
    text-decoration: none;
    padding-top: 16px;
}

.game:hover{
    color: white;
}

.games-logos{
    width: 100%;
    display: inline-flex;
    height: 300px;
}

.game-logo{
    width: 20%;
    margin-right: 2px;
}

.game-2048{
    color: #e0af0b;
}

.game-2048:hover{
    background-color: #e0af0b;
}

.tetris{
    color: #458bdb;
}

.tetris:hover{
    background-color: #458bdb;
}

.flappy-bird{
    color: #017e1e;
}

.flappy-bird:hover{
    background-color: #017e1e;
}

.guess-the-color{
    color: #a03d08;
}

.guess-the-color:hover{
    background-color: #a03d08;
}

.classic-snake-game{
    color: #025315;
}

.classic-snake-game:hover{
    background-color: #025315;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 30px;
    padding: 12px 0px 20px 15px;
    background-color: whitesmoke;
    border-radius: 20px;
}

li:first-child, li:nth-child(2){
    float: left;
    margin-left: 80px;
    margin-right: 90px;
}

li:last-child{
    float: right;
    margin-right: 85px;
}

li a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #0275d8;
}

.active{
    color: #d9534f ;
}

a:hover{
    color: #292b2c;
}
